body {
  background-image: url(restaurant.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1{
  width: fit-content;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  color: white; /* ajuster la couleur du texte en fonction de votre image */
  padding: 5px;
}

ul{
  width: fit-content;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  color: white; /* ajuster la couleur du texte en fonction de votre image */
  padding: 5px;
}
